<a href="https://colab.research.google.com/github/dalehnert/Boot-Camp-Magist-Project-1/blob/main/pandas_3_aggregate_data__sql_to_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# From SQL to Pandas Challenge 3

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")

## 1. Select the title and ytd_sales from the table titles. Order them by the year to date sales.

In [ ]:
titles[titles.sort_values(by='ytd_sales', ascending=False), ['title','ytd_sales']]

### Hint:

In SQL, the syntax is:

```sql
SELECT
	title,
    ytd_sales
FROM
	titles
ORDER BY
	ytd_sales;
```

## 2. Repeat the same query, but this time sort the titles in descending order

### Hint:

In SQL, the syntax is:

```sql
SELECT
	title,
    ytd_sales
FROM
	titles
ORDER BY
	ytd_sales desc;
```

## 3. Select the top 5 titles with the most ytd_sales from the table titles

### Hint:

In SQL, the syntax is:

```sql
SELECT title, ytd_sales FROM titles
ORDER BY ytd_sales DESC
LIMIT 5;
```

## 4. What's the maximum amount of books ever sold in a single sale?

### Hint:

In SQL, the syntax is:

```sql
SELECT MAX(qty)
FROM sales;
```

## 5. What's the price of the cheapest book?

### Hint:

In SQL, the syntax is:

```sql
SELECT MIN(price)
FROM titles;
```

## 6. How many rows are there in the table authors?

### Hint:

In SQL, the syntax is:

```sql
SELECT COUNT(au_id) 
FROM authors;
```

## 7. What's the total amount of year-to-date sales?

### Hint:

In SQL, the syntax is:

```sql
SELECT SUM(ytd_sales)
FROM titles;
```

## 8. What's the average price of books?

### Hint:

In SQL, the syntax is:

```sql
SELECT AVG(price)
FROM titles;
```

## 9. In a single query, select the count, average and sum of quantity in the table sales

### Hint:

In SQL, the syntax is:

```sql
SELECT COUNT(qty), AVG(qty), SUM(qty)
FROM sales;
```